.do_post-link {
  color: rgb(247, 0, 0);
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
}


.do_post-link:hover {
  color: rgb(48, 133, 167);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
