{% extends 'cutaway/base.html' %}
{% block title %} Блог {% endblock %}
{% load static % }
{% load bootstrap4 %}

{% block Page %}
<div class="row">
    <div class="col-1">
        <p class="text-left">
            <a class="do_post-link" href="{% url 'do_post' %}">Добавить пост</a>
        </p>
    </div>
    <div class="col-10">

    {% for post_objects in posts %}

        <p class="text-center">
            {{ post_objects.name }}
            {{ post_objects.text }}
        </p>

        {% if post_objects.image %}
            <img src="{{post_objects.image.url}}" class="center" alt="{{post_objects.name}}">
        {% endif %}
        <p class="text-center">
            {{ post_objects.date }}
        </p>
    {% endfor %}
    
    {% for comments in comments_form %}
        <p class="text_center">
            {{ comments.comments }}
        </p>
    {% endfor %}

    </div>
    <div class="col-1">

    </div>
</div>

 {% endblock %}